/* CSS variables */
:root {
    --color-BL: #2e4a62;
    --color-PH: #e0d1cb;
    --color-GY: #b6c3cf;
    --color-TGN: #7FB1A4;
    --color-GN: #b6d9b6;
    --text-color-W: #ffffff;
    --text-color-B: #000000;
    --fontfamily-H: Helvetica, Arial, sans-serif;
    --fontfamily-C: 'Courier New', Courier, monospace;
}

* {
    font-family: var(--fontfamily-H);
    color: var(--text-color-B);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* used flex for header nav, which includes the 'view high scores' button and the timer */
header nav {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-TGN);
}

#view-high-scores {
    font-family: var(--fontfamily-C);
    font-size: 1em;
    font-weight: bolder;
    width: 250px;
    height: 75px;
    margin: 16px;
    background-color: var(--color-GY);
}

/* applies to the timer */
#timer {
    font-family: var(--fontfamily-C);
    font-size: 1em;
    font-weight: bolder;
    width: 250px;
    height: 75px;
    margin: 16px;
    padding-top: 1.75em;
    text-align: center;
    background-color: var(--color-GY);
}

/* used grid for main */
#main-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 32px;
}

/* used flex for the intro, which includes the heading, the instructions, and a 'Start Quiz' button */
#intro-sec {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 75%;
}

.intro {
    margin: 12px;
    width: 100%;
}

#instructions {
    line-height: 1.5em;
}

#start-button {
    height: 50px;
    width: 30%;
    font-family: var(--fontfamily-C);
    font-weight: bolder;
    color: var(--text-color-W);
    background-color: var(--color-BL);
    font-size: 1em;
}

/* used flex; where the questions along with the answer choices are displayed */
#add-questions-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.questions {
    margin: 12px;
}

#ask-question {
    width: 75%;
}

#answer-choices {
    cursor: pointer;
    width: 75%;
}

/* applies to the list of the answer choices */
.list-item {
    width: 100%;
    padding: 16px;
    border: 1em 0;
    margin: .30em 0;
    font-size: 1.25em;
    background-color: var(--color-GN);
}

.list-item:active {
    background-color: var(--color-PH);
    font-weight: bolder;
}

/* applies to the element that contains the message about whether the answer chosen is correct or incorrect */
#check-answer {
    width: 100%;
    margin-top: 16px;
    text-align: center;
    font-size: 2em;
    font-style: oblique;
}

#end-quiz-form {
    width: 100%;
    text-align: center;
}

#msg-done {
    width: 100%;
    font-size: 2.5em;
    color: var(--color-BL);
    text-align: center;
}

.final-score {
    margin: 32px 0;
}

/* applies to where the total score will be displayed */
#final-quiz-score {
    width: 100%;
    font-size: 1.75em;
    font-style: oblique;
    text-align: center;
}

#initials-label {
    display: block;
    width: 35%;
    padding: 2.5%;
    margin: 0 auto;
    font-family: var(--fontfamily-C);
    font-size: 1.25em;
    background-color: var(--color-BL);
    color: var(--text-color-W);
    text-align: center;
}

/* applies to the input */
#initials {
    display: block;
    width: 35%;
    height: 85px;
    margin: 16px auto;
    font-family: var(--fontfamily-C);
    font-size: 1.5em;
    text-align: center;
    border: 8px dashed var(--color-BL);
}

/* applies to the button for saving initials/scores */
#score-button {
    width: 35%;
    height: 85px;
    font-family: var(--fontfamily-C);
    font-size: 1.5em;
    border-radius: 32px;
}

#score-button:hover {
    background-color: var(--color-PH);
}

/* used flex for the high scores summary */
#high-score-form {
    display: flex;
    flex-direction: column;
    margin: 32px;
    height: 100%;
}

#heading-high-score {
    width: 90%; 
    height: 85px; 
    margin: 0 auto 25px auto; 
    padding-top: 15px;
    font-size: 2.75em;
    font-family: var(--fontfamily-C);
    text-align: center;
}

/* applies to where the list of the high scores is displayed */
#high-scores {
    margin-left: 20%;
    font-size: 2em;
}

#button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10%;
}

/* applies to the 'go back' and clear buttons */
#go-back-button,
#clear-score {
    width: 35%;
    height: 100px;
    font-family: var(--fontfamily-C);
    font-size: 1.5em;
}